{{ define "nav-icons-list" }}

    <ul class="nav justify-content-end">
        {{ range .Site.Params.social }}
            <li class="nav-item">
                <!-- `<a rel="me" href="{link to Mastodon profile}">` -->
                <!-- somewhere in the website is necessary for Mastodon to -->
                <!-- validate this website. -->
                <a rel="me" href="{{ .url }}">
                    <svg class="sg-icon"><use xlink:href="#{{ .icon }}"/></svg>
                </a>
            </li>
        {{ end }}
    </ul>

{{ end }}